@font-face {
	font-family: 'SentyTEA';
	src: url(../../assets/fonts/SentyTEA.woff2) format('woff2'),
	url(../../assets/fonts/SentyTEA.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}